html
  head 
    title Hello PUG! 
  body
    include menu.pug 
    h1 Hello from PUG in h1 tag...
    | Subtitle Message...
    br
    hr
    - var jobTitle = 'Customer Data Developer'
    - var jobDesc = 'Product'
    h3 Job Title = #{jobTitle.toUpperCase()}
    h3 Job Description = #{jobDesc.toLowerCase()}
    br
    hr

    include footer.pug
        